@tailwind base;
@tailwind components;
@tailwind utilities;


.songs-table th {
  @apply text-left uppercase font-light;
  font-size: 13px;
}

/* .my-large-btn { */
  /* transform: scale(1.1) */
/* } */


.song-row {
  @apply bg-transparent;
  user-select: none;

}

.song-row > * {
  @apply bg-transparent;
}

.song-row:hover > * {
  @apply bg-base-300;
}

.song-row:hover span.num-of-song {
  @apply hidden;

}

.song-row:hover span.play-icon {

  @apply flex;
}


.current-artist {
  font-size: 0.7em;
}

.player-progress-cont:hover input {
  @apply cursor-default;
}



.player-progress-cont:hover .input-range-cont{
  @apply flex;
}
.player-progress-cont:hover .progress-cont{
  @apply hidden;
}

.progress-cont progress {
  @apply h-1;

}

.input-range-cont input[type=range] {

  /* @apply h-1; */
}

.music-controls:hover button:not(.play-btn) {

  @apply cursor-default;

}


/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
 */